*{
    padding: 0;
    margin: 0;
}

/*Setting the parameters for the page*/
body{
    margin-top: 110px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background: rgb(255,255,255);
}

/*Designing the page header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 14px;
    background-color: rgb(255,255,255);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    z-index: 10;
}
#logo{
    position: relative;
    float: left;
    height: auto;
    width: 51%;
    padding: 0;
    text-align: center;
    justify-content: center;
}
#logo img{
    position: relative;
    display: block;
    margin-top: 5px;
    width: 145px;
}
#large-header-content{
    display: none;
}

/*Styling the header content*/
#mobile-header-content{
    position: relative;
    float: right;
    height: auto;
    width: 48%;
}
#mobile-header-content i{
    font-size: 22px;
}
button{
    position: absolute;
        top: 15px;
        right: 0;
    content: "";
    border: none;
    background: none;
    cursor: pointer;
}
#search{
    position: absolute;
        top: 15px;
        right: 35px;
    content: "";
    text-decoration: none;
    color: rgb(0,0,0);
    margin-left: 65px;
}

/*Styling the mobile menu*/
#mobile-menu{
    position: fixed;
        top: 105px;
        right: 0;
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    background: rgb(255,255,255);
    display: none;
    box-sizing: border-box;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    z-index: 2;
    animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
    /*Mobile menu entrance animation*/
    @keyframes slide-in-right {
        0% {
            transform: translateX(200px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
      }
#mobile-menu button{
    position: absolute;
        top: 10px;
        left: 10px;
}
#mobile-prompt{
    position: absolute;
        top: 10px;
        right: 30px;
}
#mobile-prompt a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255,255,255);
    background: rgb(221,19,123);
    padding: 3px 5px;
    margin-left: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#mobile-prompt a:hover{
    background: rgb(163,2,85);
}

/*Styling the menu content*/
#menus{
    position: relative;
    width: 78%;
    height: 60%;
    margin: 45px 0 0 25px;
    background: rgb(255,255,255);
}
#menus nav ul li{
    list-style: none;
    font-size: 15px;
    padding-top: 15px;
    border-bottom: 1.5px solid black;
}
#menus nav ul li a{
    position: relative;
    text-decoration: none;
    color: rgb(0,0,0);
}
#menus nav ul li a:hover{
    color: rgb(221,19,123);
}
#faq{
    margin-top: 30px;
}
#faq a{
    display: block;
    text-decoration: none;
    color: rgb(221,19,123);
    margin-left: 25px;
    font-size: 15px;
}
#faq a:hover{
    color: rgb(0,0,0)
}

/*Styling section one on mobile devices*/
#one{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 110px;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    background: rgb(255,255,255);
}
#one-inner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#one-content{
    position: relative;
    width: 100%;
    height: auto;
}
.section-header{
    color: rgb(24,12,71);
    font-size: 25px;
    line-height: 0.9em;
}
.section-sub-header{
    color: rgb(24,12,71);
    font-size: 12px;
    margin-top: 20px;
}
#one-image{
    display: none;
}
#one-content-image{
    position: relative;
    width: auto;
    height: auto;
    margin: 20px 0 20px 0;
}
#one-content-image img{
    position: relative;
    display: inline-block;
    width: 280px;
}


/*Styling the buttons on the page*/
.buttons{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}
.button{
    background: none;
    margin: 3px;
    margin-right: 5px;
    position: relative;
    text-decoration: none;
    font: 12px bold;
    padding: 5px 10px;
    color: rgb(255,255,255);
    z-index: 2;
}
.button::before{
   content: "";
   position: absolute;
     top: .5px;
     bottom: -3px;
     left: 2px;
     right: 2px;
   border-radius: 3px;
   background: rgba(200,200,200,.8);
   z-index: -1;
}
.button::after{
   content: "";
   position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
   background: rgb(221,19,123);
   border-radius: 5px;
   z-index: -1;
}
.button:hover{
   text-decoration: none;
   border-radius: 5px;
   padding: 7.5px 12.5px;
}
.button:hover::before{
   transform: translateY(2px);
}
.button:hover::after{
   background: rgb(163,3,85);
}
.button:active{
   padding: 5px 10px;
   transition: none;
}
.button:active::before{
   transform: translateY(-2px);
   transition: none;
}
.button,
.button::before,
.button::after{
   transition: all .5s cubic-bezier(0,1,.3,1);
}

/*Styling section two*/
#two{
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 20px;
    box-sizing: border-box;
    background: rgb(240,240,255);
}
#two-inner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#two-content{
    position: relative;
    width: 100%;
    height: auto;
}
#two-image{
    display: none;
}
#two-content-image{
    position: relative;
    width: auto;
    height: auto;
    margin: 20px 0 20px 0;
}
#two-content-image img{
    position: relative;
    width: 280px;
    display: inline-block;
}
#two-content .buttons{
    margin-bottom: 20px;
}

/*Styling section three*/
#three{
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 20px;
    box-sizing: border-box;
    background: rgb(255,255,255);
}
#three-inner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#three-content{
    position: relative;
    width: 100%;
    height: auto;
}
#three-image{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    justify-content: center center;
}
#three-image img{
    position: relative;
    width: 100px;
    display: inline-block;
}
#left{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}
#three-content .section-header{
    margin-top: 35px;
    margin-bottom: 20px;
}
#three-content .section-sub-header{
    font-size: 14px;
    margin-bottom: 30px;
}
#three-content .button{
    font-size: 15px;
}
#right{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

/*Styling section four*/
#four{
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 20px;
    box-sizing: border-box;
    background: rgb(240,240,255);
}
#four-inner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#four-content{
    position: relative;
    width: 100%;
    height: auto;
}
#four-image{
    display: none;
}
#four-content-image{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
#four-content-image img{
    position: relative;
    width: 280px;
}
#four-content .buttons{
    text-align: center;
}
#four-content .button{
    font-size: 15px;
}

/*Styling section five*/
#five{
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 20px;
    box-sizing: border-box;
    background: rgb(255,255,255);
}
#five-inner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: rgb(240,240,255);
    border-radius: 15px;
}
#five-content{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
}
#five-image{
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
#five-image img{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#five-text .section-sub-header{
    margin-bottom: 20px;
}
#five-text h6{
    font-size: 14px;
    color: rgb(24,12,71);
}

/*Styling the footer*/
footer{
    position: relative;
    box-sizing: border-box;
    padding:25px 20px;
    width: 100%;
    height: auto;
    background: rgb(163,2,85);
    text-align: center;
}
footer h3{
    font-size: 14px;
    color: rgb(255,255,255);
}
footer h4{
    color: rgb(255,255,255);
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 5px;
}
#footer-content{
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
}
#footer-one{
    position: relative;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(255,255,255);
}
footer a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(255,255,255);
    display: block;
}
footer a:hover{
    text-decoration: underline;
}
#footer-two{
    position: relative;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(255,255,255);
}
#footer-three{
    position: relative;
    height: auto;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(255,255,255);
}
#footer-three a{
    display: inline;
    color: rgba(255,255,255,0.8);
}
#footer-three a:hover{
    text-decoration: underline;
    color: rgb(255,255,255);
}
#footer-three .white{
    color: rgb(255,255,255);
    display: block;
}
footer hr{
    position: relative;
    margin-top: 20px;
    border: 1px solid rgb(255,255,255);
}
#footer-left{
    position: relative;
    float: left;
    height: 20px;
    width: 45%;
    margin-top: 10px;
    text-align: left;
}
#footer-right{
    position: relative;
    float: left;
    height: 40px;
    width: 53%;
    margin-top: 10px;
    text-align: right;
}
#footer-left h3{
    display: block;
    text-align: left;
    color: rgb(255,255,255);
}
footer .fa {
    padding: 3px;
    font-size: 20px;
    width: 20px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
}
footer .fa:hover {
   opacity: 0.7;
   text-decoration: none;
}
  
/* Facebook */
footer .fa-facebook {
   background: #3B5998;
   color: white;
}
  
/* Twitter */
footer .fa-twitter {
   background: #55ACEE;
   color: white;
}

/*Instagram*/
footer .fa-instagram {
   background: #3f729b;
   color: white;
}

/*Styling for a larger mobile screen*/
@media only screen and (min-width: 360px){
    .section-header{
        font-size: 27px;
        line-height: 0.9em;
    }
    .section-sub-header{
        font-size: 13px;
    }
    .button{
        font: 15px bold;
    }

    /*Styling section one*/
    #one{
        padding: 10px 20px 25px 20px;
    }
    #one-content-image img{
        width: 280px;
    }

    /*Styling section two*/
    #two{
        padding: 25px 20px;
    }
    #two-content-image img{
        width: 280px;
    }

    /*Styling section three*/
    #three{
        padding: 25px 20px;
    }
    #three-content .section-sub-header{
        font-size: 16px;
        margin-bottom: 20px;
    }
    #three-content .button{
        font-size: 18px;
    }

    /*Styling section four*/
    #four{
        padding: 25px 20px;
    }
    #four-content-image img{
        width: 280px;
    }

    /*Styling section five*/
    #five{
        padding: 25px 20px;
    }
    #five-inner{
        border-radius: 20px;
    }
    #five-image img{
        height: 120px;
        width: 120px;
    }
    #five-text .section-sub-header{
        margin-bottom: 20px;
    }
    #five-text h6{
        font-size: 15px;
    }

    /*Styling the footer*/
    footer h3{
        font-size: 15px;
    }
    footer a{
        font-size: 12px;
    }
}
@media only screen and (min-width: 375px){
    /*Styling the footer*/
    footer h3{
        font-size: 16px;
    }
    #footer-three .big{
        font-size: 16px;
    }
}
@media only screen and (min-width: 411px){
    .section-header{
        font-size: 32px;
        line-height: 0.9em;
    }
    .section-sub-header{
        font-size: 15px;
    }
    .button{
        font: 15px bold;
    }

    /*Styling section one*/
    #one{
        padding: 10px 25px 30px 25px;
    }
    #one-content-image img{
        width: 330px;
    }

    /*Styling section two*/
    #two{
        padding: 30px 25px;
    }
    #two-content-image img{
        width: 330px;
    }

    /*Styling section three*/
    #three{
        padding: 30px 25px;
    }
    #three-content .section-sub-header{
        font-size: 16px;
        margin-bottom: 20px;
    }
    #three-content .button{
        font-size: 18px;
    }
    #three-image img{
        width: 120px;
    }

    /*Styling section four*/
    #four .button{
        font-size: 17px;
    }
    #four{
        padding: 30px 25px;
    }
    #four-content-image img{
        width: 310px;
    }

    /*Styling section five*/
    #five{
        padding: 20px 25px;
    }
    #five-inner{
        border-radius: 20px;
    }
    #five-image img{
        height: 120px;
        width: 120px;
    }
    #five-text .section-sub-header{
        margin-bottom: 20px;
    }
    #five-text h6{
        font-size: 15px;
    }

    /*Styling the footer*/
    footer h3{
        font-size: 17px;
    }
    #footer-three .big{
        font-size: 17px;
    }
}
@media only screen and (min-width: 560px){
    header{
        padding: 20px;
    }
    #mobile-header-content i{
        font-size: 30px;
    }
    #search{
        position: absolute;
            right: 55px;
    }
    .section-header{
        font-size: 35px;
        line-height: 1em;
    }
    .section-sub-header{
        font-size: 17px;
    }
    .buttons{
        text-align: center;
        justify-content: center center;
    }
    .button{
        font-size: 18px;
    }

    /*Styling section one*/
    #one{
        padding: 10px 30px 30px 30px;
    }
    #one-content-image{
        text-align: center;
        justify-content: center center;
    }
    #one-content-image img{
        width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /*Styling section two*/
    #two{
        padding: 30px;
    }
    #two-content-image{
        text-align: center;
        justify-content: center center;
    }
    #two-content-image img{
        width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /*Styling section three*/
    #three{
        padding: 30px;
    }
    #three-content .section-sub-header{
        font-size: 18px;
        margin-bottom: 20px;
    }
    #three-content .button{
        font-size: 20px;
    }
    #three-image img{
        width: 130px;
    }

    /*Styling section four*/
    #four .button{
        font-size: 18px;
    }
    #four{
        padding: 30px;
    }
    #four-content-image{
        text-align: center;
        justify-content: center center;
    }
    #four-content-image img{
        width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #four .button{
        font: 18px bold;
    }
    #four .buttons{
        margin: 0;
    }

    /*Styling section five*/
    #five{
        padding: 30px;
    }
    #five-inner{
        border-radius: 30px;
    }
    #five-image img{
        height: 130px;
        width: 130px;
    }
    #five-text .section-sub-header{
        margin-bottom: 20px;
    }
    #five-text h6{
        font-size: 16px;
    }

    /*Styling the footer*/
    footer h3{
        font-size: 16px;
    }
    #footer-three .big{
        font-size: 16px;
    }
    footer a{
        font-size: 14px;
    }
}
@media only screen and (min-width: 660px){
    /*Styling section one*/
    
    #one-content-image img{
        width: 500px;
    }

    /*Styling section two*/
    #two-content-image img{
        width: 500px;
    }

    /*Styling section three*/
    #three-content .section-sub-header{
        font-size: 20px;
        margin-bottom: 20px;
    }
    #three-content .button{
        font-size: 25px;
    }
    #three-image img{
        width: 150px;
    }

    /*Styling section four*/
    
    #four-content-image img{
        width: 500px;
    }
    #four .buttons{
        margin: 0;
    }
}
@media only screen and (min-width: 768px){
    header{
        padding: 20px 35px;
    }
    #mobile-header-content{
        display: none;
    }
    #logo{
        width: 24%;
    }
    #large-header-content{
        position: relative;
        display: block;
        width: 74%;
        height: auto;
        float: right;
    }
    #large-top{
        position: relative;
        width: 100%;
        height: 30px;
        padding: 0;
        margin: 0;
    }
    #top-left{
        position: relative;
        float: left;
        width: 65%;
        height: 30px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    #search{
        position: relative;
            top: 0;
            left: 0;
        margin-left: 30px;
    }
    form{
        position: relative;
        float: right;
        text-align: center;
        justify-content: center center;
        background: rgb(250,250,250);
        height: 25px;
        width: 300px;
        border-radius: 15px;
    }
    input{
        position: relative;
        display: inline-block;
        background: rgb(250,250,250);
        border: none;
        border-radius: 15px;
        text-align: center;
    }
    input[type=search]{
        text-align: center;
        justify-content: center;
        font-size: 15px;
        color: rgb(0,0,0);
        width: 230px;
        margin-left: 5px;
        margin-top: 4px;
    }
    button{
        position: relative;
            top: 0;
        border: none;
        background: rgb(250,250,250);
        font-size: 16px;
        color: rgb(96,93,92);
        margin-right: 20px;
    }
    #prompt{
        position: relative;
        padding: 0;
        margin: 0;
        width: 34%;
        height: 30px;
        float: right;
        text-align: right;
    }
    .clickable{
        position: relative;
        text-decoration: none;
        font-size: 16px;
        color: rgb(255,255,255);
        background: rgb(221,19,123);
        padding: 5px 10px;
        border-radius: 5px;
        text-align: center;
        margin-left: 15px;
        transition: ease-in-out .2s;
    }
    .clickable:hover{
      background: rgb(163,2,85);
    }
    #large-bottom{
        position: relative;
        height: 20px;
        margin-top: 10px;
    }
    /*Styling the menu*/
    nav{
        position: relative;
        float: right;
    }
    nav li{
    display:inline-block;
    font-size: 14px;
    padding-right: 14px;
    }
    nav li a{
    position: relative;
    text-decoration: none;
    color: rgb(0,0,0);
    }
    
    /*Menubar transition*/
    nav li a::after{
    border-radius: 1px;
    border-top: 2px solid rgb(221,19,123);
    content: "";
    position:absolute;
        right: 100%;
        bottom: -1.5px;
        left: 0;
    transition: right .5s cubic-bezier(0,.5,0,1);
    }
    nav li a:hover{
    color: rgb(221,19,123);
    }
    nav li a:hover::after{
    right: 0;
    }

    /*Styling each section header and subheader font*/
    .section-header{
        font-size: 35px;
    }
    .section-sub-header{
        font-size: 15px;
        margin-bottom: 80px;
    }
    .buttons{
        text-align: left;
        justify-content: left;
        margin: 0;
    }
    .button{
        font-size: 15px;
    }

    /*Styling section one*/
    #one-content-image{
        display: none;
    }
    #one{
        position: relative;
        width: 100%;
        height: auto;
        padding: 10px 30px 30px 30px;
    }
    #one-inner{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 280px;
        padding-bottom: 30px;
    }
    #one-content{
        position: relative;
        width: 49%;
        height: auto;
        float: right;
    }
    #one-image{
        position: relative;
        display: block;
        width: 49%;
        float: left;
        margin-top: 50px;
        text-align: center;
        justify-content: center center;
    }
    #one-image img{
        position: relative;
        width: 320px;
    }

    /*Styling section two*/
    #two-content-image{
        display: none;
    }
    #two{
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    #two-inner{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 380px;
        padding-bottom: 30px;
    }
    #two-content{
        position: relative;
        width: 49%;
        height: auto;
        float: left;
    }
    #two-image{
        position: relative;
        display: block;
        width: 49%;
        float: right;
        margin-top: 70px;
        text-align: center;
        justify-content: center center;
    }
    #two-image img{
        position: relative;
        width: 320px;
    }

    /*Styling section three*/
    #three{
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    #three-inner{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 560px;
    }
    #three-image img{
        width: 120px;
        height: 120px;
    }
    #three .section-sub-header{
        margin-bottom: 80px;
    }
    #three .button{
        font-size: 18px;
    }
    #left{
        position: relative;
        width: 47%;
        height: auto;
        float: left;
    }
    #right{
        position: relative;
        width: 47%;
        height: auto;
        margin-top: 0;
        float: right;
    }

    /*Styling section four*/
    #four-content-image{
        display: none;
    }
    #four{
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    #four-inner{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 460px;
        padding-bottom: 30px;
    }
    #four .buttons{
        text-align: left;
    }
    #four .button{
        font-size: 15px;
    }
    #four-content{
        position: relative;
        width: 49%;
        height: auto;
        float: right;
    }
    #four-image{
        position: relative;
        display: block;
        width: 49%;
        float: left;
        margin-top: 50px;
        text-align: center;
        justify-content: center center;
    }
    #four-image img{
        position: relative;
        width: 320px;
    }

    /*Styling section five*/
    #five{
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    #five-inner{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 360px;
        padding: 20px;
    }
    #five-text{
        position: relative;
        width: 69%;
        float: left;
    }
    #five-image{
        position: relative;
        width: 29%;
        float: right;
    }

    /*Styling the footer*/
    footer{
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    #footer-content{
        position: relative;
        width: 100%;
        height: 400px;
        clear: all;
    }
    #footer-one{
        float: left;
        width: 30%;
        display: inline-block;
        border: none;
    }
    #footer-two{
        width: 30%;
        display: inline-block;
        float: none;
        border: none;
    }
    #footer-three{
        float: right;
        width: 30%;
        display: inline-block;
        border: none;
    }
    hr{
        position: relative;
        display: block;
        width: 100%;
    }
}
@media only screen and (min-width: 800px){
    nav li{
    font-size: 15px;
    }

    /*Styling each section header and subheader font*/
    .section-header{
        font-size: 40px;
    }
    .section-sub-header{
        font-size: 16px;
        margin-bottom: 120px;
    }
    .button{
        font-size: 16px;
    }

    /*Styling section one*/
    #one-inner{
        height: 390px;
    }
    #one-image img{
        position: relative;
        width: 370px;
    }

    /*Styling section two*/
    #two-inner{
        height: 450px;
        padding-bottom: 30px;
    }
    #two-image img{
        position: relative;
        width: 360px;
    }

    /*Styling section four*/
    #four .button{
        font-size: 16px;
    }
    #four-inner{
        height: 560px;
    }
    #four-image img{
        width: 350px;
    }

    /*Styling section five*/
    #five-inner{
        height: 400px;
    }

    /*Styling the footer*/
    #footer-content{
        height: 380px;
    }
}
@media only screen and (min-width: 860px){
    /*Styling section one*/
    #one-inner{
        height: 380px;
    }

    /*Styling section two*/
    #two-inner{
        height: 450px;
        padding-bottom: 30px;
    }

    /*Styling section four*/
    #four-inner{
        height: 560px;
    }
}
@media only screen and (min-width: 900px){
    #one-inner{
        height: 360px;
    }
    #two-inner{
        height: 410px;
    }
    #three-inner{
        height: 560px;
    }
    #four-inner{
        height: 530px;
    }
}
@media only screen and (min-width: 980px){
    #two-inner{
        height: 410px;
    }
    #three-inner{
        height: 500px;
    }
    #four-inner{
        height: 420px;
    }
}
@media only screen and (min-width: 1024px){
    header{
        padding: 20px 50px;
    }
    #search{
        position: relative;
            top: 0;
            left: 0;
        margin-left: 100px;
    }
    form{
        height: 30px;
        width: 350px;
        border-radius: 15px;
    }
    input[type=search]{
        font-size: 18px;
        width: 280px;
    }
    button{
        font-size: 20px;
    }
    .clickable{
        font-size: 16px;
    }
    .clickable:hover{
      background: rgb(163,2,85);
    }

    /*Styling the menu*/
    nav li{
    font-size: 16px;
    margin-right: 10px;
    }

    /*Styling each section header and subheader font*/
    .section-header{
        font-size: 45px;
    }
    .section-sub-header{
        font-size: 18px;
        margin-bottom: 150px;
    }
    .button{
        font-size: 20px;
        margin-left: 10px;
    }

    /*Styling section one*/
    #one{
        padding: 40px 70px;
    }
    #one-inner{
        height: 400px;
    }
    #one-image img{
        width: 450px;
    }

    /*Styling section two*/
    #two{
        padding: 40px 70px;
    }
    #two-inner{
        height: 460px;
    }
    #two-image img{
        width: 430px;
    }

    /*Styling section three*/
    #three{
        padding: 40px 70px;
    }
    #three-inner{
        height: 590px;
    }
    #three-image img{
        width: 150px;
        height: 150px;
    }
    #three .section-sub-header{
        margin-bottom: 100px;
    }
    #three .button{
        font-size: 22px;
    }
    #left{
        position: relative;
        width: 47%;
        height: auto;
        float: left;
    }
    #right{
        position: relative;
        width: 47%;
        height: auto;
        margin-top: 0;
        float: right;
    }

    /*Styling section four*/
    #four{
        padding: 40px 70px;
    }
    #four-inner{
        height: 590px;
    }
    #four .button{
        font-size: 20px;
    }
    #four-image img{
        width: 420px;
    }

    /*Styling the footer*/
    footer{
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px 40px;
    }
    #footer-content{
        position: relative;
        width: 100%;
        height: 430px;
        clear: all;
    }
    footer a{
        font-size: 16px;
    }
    #footer-one{
        float: left;
        width: 30%;
        display: inline-block;
        border: none;
    }
    #footer-two{
        width: 30%;
        display: inline-block;
        float: none;
        border: none;
    }
    #footer-three{
        float: right;
        width: 30%;
        display: inline-block;
        border: none;
    }
    hr{
        position: relative;
        display: block;
        width: 100%;
    }
}
@media only screen and (min-width: 1070px){
    #three-inner{
        height: 550px;
    }
    #four-inner{
        height: 540px;
    }
}
@media only screen and (min-width: 1200px){
    #top-left{
        position: relative;
        width: 68%;
    }
    #prompt{
        margin: 0;
        width: 29%;
    }
    form{
        position: relative;
        float: right;
        width: 400px;
    }
    input[type=search]{
        font-size: 20px;
        width: 350px;
    }
    button{
        font-size: 22px;
    }
    .clickable{
        font-size: 20px;
    }
    .clickable:hover{
      background: rgb(163,2,85);
    }

    /*Styling the menu*/
    nav li{
    font-size: 20px;
    }

    /*Styling each section header and subheader font*/
    .section-header{
        font-size: 55px;
    }
    .section-sub-header{
        font-size: 20px;
    }
    .button{
        font-size: 22px;
    }

    /*Styling section one*/
    #one-inner{
        height: 440px;
    }
    #one-image img{
        width: 550px;
    }

    /*Styling section two*/
    #two-inner{
        height: 550px;
    }
    #two-image img{
        width: 540px;
    }

    /*Styling section three*/
    #three{
        padding: 40px 70px;
    }
    #three-inner{
        height: 650px;
    }
    #three-image img{
        width: 150px;
        height: 150px;
    }
    #three .section-sub-header{
        font-size: 25px;
    }
    #three .button{
        font-size: 24px;
    }

    /*Styling section four*/
    #four-inner{
        height: 710px;
    }
    #four .button{
        font-size: 22px;
    }
    #four-image img{
        width: 520px;
    }

    /*Styling section five*/
    #five h6{
        font-size: 20px;
    }
    #five-image img{
        width: 200px;
        height: 200px;
    }

    /*Styling the footer*/
    footer a{
        font-size: 18px;
    }
    footer h3{
        font-size: 20px;
    }
    footer h4{
        font-size: 18px;
    }
    #footer-three .big{
        font-size: 20px;
    }
    #footer-content{
        height: 450px;
    }
}
@media only screen and (min-width: 1250px){
    #two-inner{
        height: 470px;
    }
    #three-inner{
        height: 650px;
    }
    #four-inner{
        height: 660px;
    }
}
@media only screen and (min-width: 1300px){

    /*Styling section one*/
    #one-inner{
        height: 440px;
    }
    #one-image img{
        width: 600px;
    }

    /*Styling section two*/
    #two-inner{
        height: 500px;
    }
    #two-image img{
        width: 580px;
    }

    /*Styling section three*/
    #three-inner{
        height: 650px;
    }
    #three-image img{
        width: 150px;
        height: 150px;
    }
    #three .section-sub-header{
        font-size: 28px;
    }

    /*Styling section four*/
    #four-inner{
        height: 590px;
    }
    #four-image img{
        width: 580px;
    }
}